@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased;
  }
  * {
    @apply border-slate-200;
  }
}

.leaflet-container {
  border-radius: 1rem;
  z-index: 0;
  font-family: inherit;
}
